<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter" />
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Work/Assessment/Automation/APITesting"><classes>
        <class name="CortiTest.storeTest">
        </class>
        <class name="CortiTest.userTest">
    </class></classes>
    </test>
</suite>